@import url("https://fonts.googleapis.com/css2?family=Share+Tech&display=swap");

:root {
  --color-main: #127369;
  --color-secondary: #10403b;
  --color-accent: #8aa6a3;
  /* This will allow for an opacity to happen in the hero */
  --color-accent-rgb: 138, 166, 163;
  --color-black: #2f3736;
  --color-white: #e6e5e5;
  --color-white-rbg: 230, 229, 229;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GLOBAL */

html {
  font-size: 62.5%;
}

body {
  font-family: "Share Tech", Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--color-white);
}

main {
  display: flex;
  flex-direction: column;
}

.site {
  width: 100%;
}

.card {
  flex-grow: 1;
  flex-shrink: 1;
  background-color: var(--color-accent);
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  color: var(--color-black);
  box-shadow: 0 0.5rem 1rem var(--color-black);
}

.small-card {
  max-width: 30rem;
  min-width: 30rem;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.title {
  margin: 2rem 5rem;
  align-self: flex-start;
  font-size: 4rem;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5rem 0;
}

/* MISSION */
header {
  background: linear-gradient(
      rgba(var(--color-accent-rgb), 0.2),
      var(--color-main)
    ),
    url("./imgs/hero.jpg") no-repeat center center/cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem;
}

header h2 {
  font-size: 4rem;
  margin-bottom: 2rem;
  text-shadow: 1px 1px 2px var(--color-black);
}

header p {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-shadow: 1px 1px 2px var(--color-black);
}

/* NAV */

nav {
  background-color: rgba(var(--color-accent-rgb), 0.95);
}

nav .logo {
  flex: 1;
  padding-top: 5rem;
  color: var(--color-black);
}

nav ul {
  flex: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

nav a {
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 700;
}

nav a,
nav a:active,
nav a:visited {
  color: var(--color-black);
  transition: all 0.3s ease-in-out;
}

nav a:hover {
  color: var(--color-main);
  font-size: 2rem;
  text-decoration: underline;
}

/* Portfolio */

.portfolio {
  background-color: var(--color-white);
  padding-bottom: 10rem;
  color: var(--color-main);
}

.image__container {
  width: 100%;
  height: 250px;
  overflow: hidden;
  background-color: var(--color-white);
  margin-bottom: 2.5rem;
}

.landscape-img {
  width: auto;
  height: 110%;
}

.portrait-img {
  width: 100%;
  height: auto;
  transform: translateY(-25%);
}

.portrait {
  transform: translateY(-5%);
  transition: all 0.3s ease-in-out;
}

.portrait:hover {
  transform: scale(1.1) translateY(-5%);
}

.portfolio__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 5rem;
}

.portfolio__content {
  min-height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  flex-basis: 40%;
  text-shadow: 1px 1px 2px var(--color-black);
  color: var(--color-white);
}

.portfolio__content h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  padding: 0.8rem;
  border-radius: 0.2rem;
}

.portfolio__content p {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  padding: 0.8rem;
  border-radius: 0.2rem;
}

#smart-home {
  background: linear-gradient(
      rgba(var(--color-accent-rgb), 0.5),
      var(--color-secondary)
    ),
    url("./imgs/smart_home.jpg") center/cover no-repeat;
  flex-grow: 1;
}
#gadgets {
  background: linear-gradient(
      rgba(var(--color-accent-rgb), 0.5),
      var(--color-secondary)
    ),
    url("./imgs/gadgets.jpg") center/cover no-repeat;
  flex-grow: 3;
}
#software {
  background: linear-gradient(
      rgba(var(--color-accent-rgb), 0.5),
      var(--color-secondary)
    ),
    url("./imgs/software_dev.jpg") center/cover no-repeat;
  flex-grow: 1;
}
#ai {
  background: linear-gradient(
      rgba(var(--color-accent-rgb), 0.5),
      var(--color-secondary)
    ),
    url("./imgs/ai.jpg") center/cover no-repeat;
  flex-grow: 3;
}

/* ABOUT US */

.about-us {
  background-color: var(--color-secondary);

  box-shadow: 0 0rem 2rem var(--color-black);
}

/* footer */
footer {
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 769px) {
  nav {
    left: 0;
    top: 0;
    position: fixed;
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-width: 250px;
    z-index: 10;
    box-shadow: 0 1rem 0.8rem var(--color-black);
  }
  .content {
    background-color: var(--color-black);
    position: relative;
    margin-left: 250px;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width: 768px) {
  .site {
    display: flex;
    flex-direction: column;
  }

  nav {
    display: flex;
    flex-direction: row;
    position: fixed;
    justify-content: space-between;
    width: 100%;
    height: 7.5rem;
    align-items: center;
    z-index: 10;
    box-shadow: 5px 0 5px var(--color-black);
  }

  nav li {
    font-weight: 700;
    text-decoration: none;
  }

  nav li::marker {
    content: none;
  }

  nav .logo {
    margin: 0 auto;
    padding: 0 5rem;
  }
  .content {
    background-color: var(--color-black);
    position: static;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  nav ul {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-decoration: none;
  }

  .portfolio__content {
    flex-basis: 51%;
  }
}
