/* VARS */
:root {
  --color-primary: #c10000;
  --color-secondary: #6d0d0d;
  --color-tertiary: #c4580f;
  --color-accent: #afa50d;
  --color-dark: #333;
  --color-light: #fff;
}

/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 62.5%;
}

nav {
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  background-color: var(--color-tertiary);
}

nav img {
  height: 100%;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  font-size: 1.2rem;
}

nav li {
  padding-left: 1rem;
}

nav ul:last-child {
  padding-right: 2.5rem;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 38rem;
}

.hero {
  background: url(./resources/imgs/hero.jpg) no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero img {
  height: 100%;
  filter: invert(100%);
}

.hero__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.5rem;
  box-shadow: inset 0 0 1rem rgba(0, 0, 0, 0.5);
}

.hero__description h1 {
  font-size: 3rem;
  color: var(--color-accent);
  margin-bottom: 1rem;
}

.hero__description p {
  font-size: 1.3rem;
  color: var(--color-dark);
  margin-bottom: 1rem;
  text-align: center;
}
